{% extends "single.html" %}
      {% block tittle %}关于我{% endblock %}
            {% block art %}
             <section id="container">
			<div class="wrap-container">
				<!-----------------Content-Box-------------------->
				<article class="single-post zerogrid">
					<div class="row wrap-post"><!--Start Box-->
						<div class="entry-header">
							<span class="time">Sep 22, 2017</span>
							<h2 class="entry-title"><a href="#">我的思想历程</a></h2>
							<span class="cat-links"><a href="#">About</a></span>
						</div>
						<div class="post-thumbnail-wrap">
							<img src="/statics/images/1.jpg">
						</div>
             <div class="excerpt"><p></p></div>
             <p>以前的时候，我对人生并没有什么明确的想法，只是单纯地想让自己变得牛逼。后来我在和别人的交流中发现，我小时候喜欢读书读来的那些历史、地理和天文知识，许多人竟然对此是一无所知，从那时候我开始有了优越感。</p>

<p>小学五年级的时候，家里有了第一台电脑，那时候的电脑垃圾的不行，64M的内存，8G的硬盘，运行win98系统。即使如此，我还是对这个新奇玩意产生了浓厚的兴趣，学着装机，了解那些配置的性能指标。那时候看到市面上卖的电脑，赛扬双核是我已知的最垃圾的CPU，主流内存是1个G，硬盘128或256G，当时的酷睿在我眼中是极其牛逼的存在，显卡？不存在的。</p>

<p>因为内存小，我又去买了内存条。系统卡，去电脑城看人家装系统，回来自己学会了就买了个盘自己装。这台电脑被我拆机无数次。耳濡目染多了，对系统运行什么的也有了一部分的了解，尽管才初中，但是家里谁都没我懂电脑了。当时感觉自己牛逼到不行，这份优越感直到大学毕业后还存在。</p>

<p>高考差1分考进名校，最终走征集志愿落到省内。今年看了一下母校在山东省理科最低分收到了433，心痛无比，当初我也是六百多分进去的，毕业一年，山东省属大学排名前三的母校沦落至此，生源这么差，也许就只是因为冠了个农字。</p>

<p>报志愿时父母强行选择了测绘专业，理由是舅舅在县国土局副局，可以帮忙安排，我对此专业也不甚了解，就同意了，这是我一生中最大的一个坑。</p>

<p>也许因为冠了个农字吧，我周围的同学里农村同学很多，上了大学后我才发现，他们除了死读书外，其他的东西很少碰，也不去学习，这是让我最感到惊诧的事情。很多同学的求知欲很小，遇到一点陌生的东西，只会迷信权威，做伸手党。虽然说帮助别人被别人夸奖的感觉挺爽的，但是我知道人外有人天外有天，我这点小本事真的算不了什么，上了大学后互联网急速发展，很多东西都很普及，各种资源都只是动动手就能得到，只是他们不学而已。</p>

<p>之前我是很鄙视这些人的，后来我才发现，各人的生活条件不一，导致人的眼界和见识也不一样。而且人本没有高低贵贱之分，只是人自己怎么表现，别人就会根据他的表现怎么评价他。而且，你在这个方面鄙视别人，别人也可能在那个方面上见解就比你深，术业有专攻，对于无知的人，可以去教化，但是对于无知还拒绝学习的人，就只能对之以鄙视了。</p>

<p>由于本专业内容不感兴趣，所以一直考虑考研转专业，然而两次考研都失败了，第一次考南大定目标太高了，数学考砸了。第二次华东师范，死在了复试上，也许我这听障还跨专业就是自己作死吧，不可能比本专业还要优秀的。我从此就感觉，我确实是个完完全全的普通人，或者说还不如普通人，因为我有听障。</p>

<p>现在跨入了迷茫期，父母找了一个测绘所的工作，整日无所事事，工资低得可怜，实习期只有1k5，而且单休。3个月实习期已经到期了，无法转正，和父母商量后终于离职，截至目前，8月份的工资还没有发放。</p>

<p>以前我一直在想，人生活的意义是什么？毕业后感觉更加迷茫，一度对人生都失去了兴趣。可是我又怕死，不敢死，只好一边赖活一边迷茫。在网上看到了几幅图，地球和木星的大小对比，木星和太阳，太阳和天狼星等等，等到了宇宙中最大的天体时，地球已经渺小到连一个像素都无法充满了。而地球对我们来说，又是一个庞然大物，可以想象到，人在宇宙中有多渺小，那些大行星存在的岁月对我们人来说，可以用永恒来形容。那一段时间内，我一直在苦苦思索人生的意义，直到后来我在知乎上看到了一个和我一样疑问的问题，而点赞数量最高的一个回答，是改编了苏轼的《赤壁赋》。</p>

<p>原文如下：</p>

                                                        <blockquote>
							  
								客亦知夫水与月乎？
								逝者如斯，而未尝往也；盈虚者如彼，而卒莫消长也。
								盖将自其变者而观之，则天地曾不能以一瞬；自其不变者而观之，则物与我皆无尽也，而又何羡乎！
                                                                 且夫天地之间，物各有主，苟非吾之所有，虽一毫而莫取。
                                                               惟江上之清风，与山间之明月，耳得之而为声，目遇之而成色，取之无禁，用之不竭，是造物者之无尽藏也，而吾与子之所共适。
							  
							  
							</blockquote>


<p>至此豁然开朗。</p>
</div>
					</div>
				</article>
</div>
		</section>
            {% endblock %}