                <footer>
                         <style type="text/css">
                           #wechat:hover:{img {display:block}}
                         </style>
                         <img src="/statics/images/wechat.jpg" style="display:none">
			<div class="zerogrid wrap-footer">
				<div class="row">
					<div class="bottom-social">
						<a href="http://weibo.com/u/3312757084"><i class="fa fa-weibo"></i></a>
						<a href="https://github.com/yuyuyugood"><i class="fa fa-github"></i></a>
				
						<a href="https://plus.google.com/113781766368417308859"><i class="fa fa-google-plus"></i></a>
						<a href="mailto:970787907@qq.com"><i class="fa fa-envelope"></i></a>
						<a href="http://www.linkedin.com/in/%E5%AE%81-%E4%BA%8E-a55ab8b5/"><i class="fa fa-linkedin"></i></a>
						<a href="http://wpa.qq.com/msgrd?v=3&uin=970787907&site=qq&menu=yes"><i class="fa fa-qq"></i></a>
					</div>
				</div>
				
			</div>
		</footer>