<div id='cssmenu' class="align-center">
			<ul>
			   <li class="active"><a href='/'><span>Home</span></a></li>
			   <li class=' has-sub'><a href='#'><span>Blog</span></a>
				  <ul >
					 <li class='has-sub'><a href='#'><span>Tech</span></a>
						<ul>
						   <li><a href='/fid1'><span>Python</span></a></li>
						   <li class='last'><a href='/fid2'><span>Other</span></a></li>
						</ul>
					 </li>
					 <li class='has-sub'><a href='#'><span>Novel</span></a>
						<ul>
						   <li><a href='/fid3'><span>龙谶</span></a></li>
						</ul>
					 </li>
				  </ul>
			   </li>
			   <li><a href='/about'><span>About</span></a></li>
			   
			</ul>
		</div>